{% extends 'base.html' %}

{% block title %}
    {{ todo_list }} List
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>{{ todo_list }}</h1>
            <a href="{% url 'todo_list_update' todo_list.id %}">Edit</a>
            <p>
                <a href="{% url 'todo_list_delete' todo_list.id %}">Delete</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <th>Task</th>
                    <th>Due date</th>
                </thead>
                <tbody>
                    {% for item in todo_list.items.all %}
                        <tr>
                            <td>
                                <a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a>
                            </td>
                            <td>{{ item.due_date|date:'F j, Y' }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
