{% extends 'base.html' %}

{% block title %}
    Update/Edit List!
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Update list</h1>
            <form method="post">
                {% csrf_token %}
                {{ todo_form.as_p }}
                <button>Update</button>
            </form>
        </div>
    </main>
{% endblock content %}
